.center {
  text-align: center;
}

.limit-height-xs {
  max-height: 200px;
}

.m {
  &-xs {
    margin: 5px;
  }

  &-sm {
    margin: 12px;
  }

  &-md {
    margin: 25px;
  }

  &-lg {
    margin: 40px;
  }

  &t {
    &-xs {
      margin-top: 5px;
    }

    &-sm {
      margin-top: 12px;
    }

    &-md {
      margin-top: 25px;
    }

    &-lg {
      margin-top: 40px;
    }
  }

  &r {
    &-xs {
      margin-right: 5px;
    }

    &-sm {
      margin-right: 12px;
    }

    &-md {
      margin-right: 25px;
    }

    &-lg {
      margin-right: 40px;
    }
  }

  &b {
    &-xs {
      margin-bottom: 5px;
    }

    &-sm {
      margin-bottom: 12px;
    }

    &-md {
      margin-bottom: 25px;
    }

    &-lg {
      margin-bottom: 40px;
    }
  }

  &l {
    &-xs {
      margin-left: 5px;
    }

    &-sm {
      margin-left: 12px;
    }

    &-md {
      margin-left: 25px;
    }

    &-lg {
      margin-left: 40px;
    }
  }
}

.p {
  &-xs {
    padding: 5px;
  }

  &-sm {
    padding: 12px;
  }

  &-md {
    padding: 25px;
  }

  &-lg {
    padding: 40px;
  }

  &t {
    &-xs {
      padding-top: 5px;
    }

    &-sm {
      padding-top: 12px;
    }

    &-md {
      padding-top: 25px;
    }

    &-lg {
      padding-top: 40px;
    }
  }

  &r {
    &-xs {
      padding-right: 5px;
    }

    &-sm {
      padding-right: 12px;
    }

    &-md {
      padding-right: 25px;
    }

    &-lg {
      padding-right: 40px;
    }
  }

  &b {
    &-xs {
      padding-bottom: 5px;
    }

    &-sm {
      padding-bottom: 12px;
    }

    &-md {
      padding-bottom: 25px;
    }

    &-lg {
      padding-bottom: 40px;
    }
  }

  &l {
    &-xs {
      padding-left: 5px;
    }

    &-sm {
      padding-left: 12px;
    }

    &-md {
      padding-left: 25px;
    }

    &-lg {
      padding-left: 40px;
    }
  }
}

.align {

  // .align-items
  &-items {
    &-center {
      align-items: center;
    }

    &-bottom {
      align-items: bottom;
    }

    &-baseline {
      align-items: baseline;
    }
  }
}

.flex-center {
  @include flex-center(all);

  &-h {
    @include flex-center(h);
  }

  &-v {
    @include flex-center(v);
  }
}

.card-shadow-xs {
  @include card-shadow(xs);
}

.card-shadow-sm {
  @include card-shadow(sm);
}

.card-shadow-md {
  @include card-shadow(md);
}

.card-shadow-lg {
  @include card-shadow(lg);
}

button {
  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
}
